<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - Admin Paneli | Blog App</title>
    @await Html.PartialAsync("LayoutPartials/_LayoutCssPartial")
    @await RenderSectionAsync("Styles", false);
    <link href="~/Admin/css/site.css" rel="stylesheet" crossorigin="anonymous" />
</head>
<body class="sb-nav-fixed">
    @await Html.PartialAsync("LayoutPartials/_LayoutNavBarPartial")
    <div id="layoutSidenav">
        @await Component.InvokeAsync("AdminMenu")
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @if (TempData["SuccessMessage"] != null)
                    {
        <div class="alert alert-success mt-2" role="alert">
            @TempData["SuccessMessage"]
        </div>}
                    @RenderBody()
                </div>
            </main>
            @await Html.PartialAsync("LayoutPartials/_LayoutFooterPartial")
        </div>
    </div>
    @await Html.PartialAsync("LayoutPartials/_LayoutJsPartial")
    @await RenderSectionAsync("Scripts", false);
</body>
</html>
